<div class="feedback-card">
  <div class="feedback-para">
    <h1 class="head-1">What our Patients Think</h1>
    <p class="para-1">
      Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis
      aenean eu velit. Mi vestibulum, ullamcorper venenatis imperdiet augue
      arcu ue.
    </p>
  </div>
  <div class="card-main">
      <div class="card">
        <div class="card-1">
          <img class="card-img" src="../images/Rectangle 25.svg" alt="" />
          <div>
            <h3 class="card-1-head">Lorem ipsum dolor.</h3>
            <p class="card-1-para">instent doup</p>
          </div>
        </div>
        <div class="card-2">
          <p class="card-2-para">
            “Been stressing about a close centre to get the covid-19 vaccine,
            until i tried Vaccination.ng”
          </p>
        </div>
      </div>
      <div class="card card-priamy">
        <div class="card-1">
          <img class="card-img" src="../images/Rectangle 24.svg" alt="" />
          <div>
            <h3 class="card-1-head">Lorem ipsum dolor.</h3>
            <p class="card-1-para">instent doup</p>
          </div>
        </div>
        <div class="card-2">
          <p class="card-2-para">
            “Been stressing about a close centre to get the covid-19 vaccine,
            until i tried Vaccination.ng”
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-1">
          <img class="card-img" src="../images/Rectangle 26.svg" alt="" />
          <div>
            <h3 class="card-1-head">Lorem ipsum dolor.</h3>
            <p class="card-1-para">instent doup</p>
          </div>
        </div>
        <div class="card-2">
          <p class="card-2-para">
            “Been stressing about a close centre to get the covid-19 vaccine,
            until i tried Vaccination.ng”
          </p>
        </div>
      </div>
            </div>
  </div>
</div>