<div class="feedback-card">
    <div class="feedback-para">
      <h1 class="head-1">What our Patients Think</h1>
      <p class="para-1">
        Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis
        aenean eu velit. Mi vestibulum, ullamcorper <br> venenatis imperdiet augue
        arcu ue.
      </p>
    </div>
    <div class="card-main">
        <div class="card">
          <div class="card-1">
            <img class="card-img" src="../images/Rectangle 25.svg" alt="" />
            <div >
              <h3 class="card-1-head">Oyindamola Maja</h3>
              <p  class="card-1-para">Badagry, Lagos</p>
            </div>
          </div>
          <div class="card-2">
            <p class="card-2-para">
              “Been stressing about a close centre to get the <span style="color:#17C2EC ;">covid-19</span> vaccine,
              until i tried Vaccination.ng”
            </p>
          </div>
        </div>
        <div class="card card-priamy">
          <div class="card-1">
            <img class="card-img" src="../images/Rectangle 24.svg" alt="" />
            <div>
              <h3  class="card-1-head " >Okeowo Lekan</h3>
              <p class="card-1-para">Ikeja, Lagos</p>
            </div>
          </div>
          <div class="card-2">
            <p class="card-2-para">
              “Got my vaccine very close to my house. Was very easy scheduling an appointment.”
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-1">
            <img class="card-img" src="../images/Rectangle 26.svg" alt="" />
            <div>
              <h3 class="card-1-head">Kafaru Temitope</h3>
              <p class="card-1-para">Obanikoro, Lagos</p>
            </div>
          </div>
          <div class="card-2">
            <p class="card-2-para">
              “Been stressing about a close centre to get the <span style="color:#17C2EC ;">covid-19</span> vaccine,
              until i tried Vaccination.ng”
            </p>
          </div>
        </div>
              </div>
    </div>
  </div>