
<div class="quote-container">
    <div class="quote-card">
        <h2>Get a quote</h2>
        <p>Please do enter your email address below</p>
        <form action="#" method="POST">
            <input type="email" placeholder="youremail@example.com" required>
            <button type="submit">   
              <span class="icon--container">
                <svg class="icon icon--primary">
                  <use xlink:href="../icons/sprite.svg#sprite"></use>
                </svg>
              </span>
            </button> 
        </form>
    </div>
  </div>
  
  
  <footer class="footer backround">
    <div class="footer-top">
      <div class="footer-1">
        <div>
          <h3 class="footer-1-h3"> Vaccination.ng</h3>
          <span class="icon--container icon-line ">
            <svg class="icon icon--primary">
              <use xlink:href="../icons/sprite.svg#Line-1"></use>
            </svg>
          </span>
        </div>
        <ul class="list  footer-list">
          <li class="list--1"> <a href="#">Home</a></li>
          <li class="list--1"><a href="#">Services</a></li>
          <li class="list--1"> <a href="#">Schedule</a></li>
          <li class="list--1"><a href="#">Contact us</a></li>
        </ul>
        <div class="svg-footer">
          <span class="icon--container">
            <svg class="icon icon--primary">
              <use xlink:href="../icons/sprite.svg#logo-youtube"></use>
            </svg>
          </span>
          <span class="icon--container">
            <svg class="icon icon--primary">
              <use xlink:href="../icons/sprite.svg#logo-Instagram"></use>
            </svg>
          </span>
          <span class="icon--container">
            <svg class="icon icon--primary">
              <use xlink:href="../icons/sprite.svg#logo-Twitter"></use>
            </svg>
          </span>
          <span class="icon--container">
            <svg class="icon icon--primary">
              <use xlink:href="../icons/sprite.svg#logo-Facebook"></use>
            </svg>
          </span>
        </div>
      
      </div>
    </div>
  
  </footer>