<div class="form-container">
  
    <div class="form--1">
      <label for="fullname">Full Name</label>
      <input type="text" id="fullname" name="fullname" placeholder="Full name">
      <p>Notifications for appointment and reminders will be sent to this provided number</p>
      <label for="phone">Mobile Number</label>
      <div class="country-code">
        <span class="icon--container">
          <svg class="icon icon--primary">
            <use xlink:href="../icons/sprite.svg#Group 47"></use>
          </svg>
        </span>
          <input type="tel" name="phone" placeholder="Phone number">
      </div>
      
      <button class="btn button-1 btn-hov" >Verify</button>
    </div>
    <div>
      <button class=" btn button btn-hov" type="submit">Submit</button>
      
      <div class="check-status">
          <p style="display: inline;">Already registered?</p> <a href="#">Check your status</a>
      </div>
      </div>
    </div>