<header class="backround">
    <div class="wrapper">
      <nav >
        <div class="logo">
          <h1>Vaccination.ng</h1>
          <img src="../images/Line 1 (1).png" alt="" />
        </div>
        <ul class="list--header " >
          <li>
            <a  href="#"><h3>Home</h3></a>
            
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Schedule</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li>
          <spnan class="close">X</spnan>
        </ul>
       
        <a href="#" class="btn dark">Check Status </a>
        <img  class="sab" src="../images/Group 83.svg" alt="">
      </nav>
      <!-- End of desktop nav -->


      <div class="hero-section">
        <div class="left">
          <h5>Get Vaccinated. Boost your Immune System</h5>
          <h1>
            COVID-19 Vaccination <br> Got Easier With, <br>
            <span> Vaccination.ng</span>
          </h1>
          <p>
            Vaccination.ng will help you find the nearest <br />
            centre for vaccination, in all 36 states in Nigeria.
          </p>
          <a href="#" class="btn light">Get Vaccine</a>
          <a href="#" class="btn light1">Help Centre</a>
        </div>

        <div class="right">
          <img src="../images/unsplash_wnSEwHMhxho.svg" alt="eee" />
          <img class="  decs " id="dd" src="../images/Group 21.svg" alt="" />
          <img class=" dec" src="../images/Rectangle 6.svg" alt="" />
          <img class=" dec1" src="../images/doctor-taking-safety-measures-for-corona-2996940-2495209.svg" alt="" />
          <img class=" coronavirus" src="../images/Rectangle 6.svg" alt="" />
          <img class=" coronavirus1" src="../images/coronavirus-2996952-2495219.svg" alt="" />


        </div>
      </div>
      <div class="end-hero">

        <div class="end-text">
          <svg class="icon">
            <use xlink:href="./SVGSprite.svg#click"></use></svg>
          <h3>Schedule your Vaccination</h3>
        </div>

        <ul>
          <li>
            <svg class="icon">
              <use xlink:href="./SVGSprite.svg#location"></use></svg>
            <a href="#">Location </a>
            <h3>Ikeja Lagos, Nigeria</h3>
          </li>
          <li>
            <svg class="icon">
              <use xlink:href="./SVGSprite.svg#calendar"></use></svg>
            <a href="#">Date </a>
            <h3>29 February, 2022</h3>
          </li>
          <li>
            <svg class="icon">
              <use xlink:href="./SVGSprite.svg#shield"></use></svg>
           <a href="#">
              Vaccine Type
            </a>
            <h3>Mordena</h3>
          </li>
          <li>
            <a href="#" class="btn light sub"> Submit</a>
          </li>
        </ul>
      </div>
    </div>
  </header>