<div class="continar-input backround">
    <div class="input">
        <h2 class="input-h2">Check your COVID-19 result on our Database</h2>
        <div class="input--btn">
            <input class="input--1" type="text" placeholder="Enter your name" required>
            <input class="input--1" type="text" placeholder="NIK Number" required>
            <button class="btn btn-1">Check</button>
        </div>
        <a href="#" class="link--1">Need a certificate for your COVID-19 result? Please click here</a>
    </div>
</div>