
<div class="quote-container">
    <div class="quote-card">
        <h2>Get a quote</h2>
        <p>Please do enter your email address below</p>
        <form action="#" method="POST">
            <input type="email" placeholder="youremail@example.com" required>
            <button type="submit">   
              <span class="icon--container">
                <svg class="icon icon--primary">
                  <use xlink:href="../icons/sprite.svg#sprite"></use>
                </svg>
              </span>
            </button> 
        </form>
    </div>
  </div>